<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
    <h1>Orders List</h1>
    {% for order  in order_list  %}
       <p>{{ order.customer_name }}, {{ order.order_date }}, {{ order.quantity }}, <i>{{ order.book_title }}</i>, <a href= "http://localhost:4999/orders/{{ order.id }}">Order Link</a> </a></p>
    {% endfor %}
    
</body>
</html>