{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content %}
  <h1>Events</h1>
  <a href="/events/new">Add new event</a>
  <ul>
    {% for event in events %}
      <li class="event-box">
        <div class="event-title"><strong>{{ event.title }}</strong></div>
        <div class="event-info"><em>Date:</em> {{ event.date }}</div>
        <div class="event-info"><em>Time:</em> {{ event.start_time }} - {{ event.end_time }}</div>
        <div class="event-info"><em>Location:</em> {{ event.location }}</div>
        <div class="event-info"><em>Description:</em> {{ event.description }}</div>
        <div class="event-info"><em>Host:</em> {{ event.user_id.name }} ({{ event.user_id.email }})</div>
        <h2>Tasks:</h2>
        <ul>
          {% for task in tasks_for_events[event.id] %}
            <li>{{ task.title }} - {{ task.description }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}






