{% extends 'base.html' %}

{% block title %}New Task{% endblock %}

{% block content %}
  <h1 class="event-box2"> New Task</h1>
  <form action="/tasks" method="POST" class="newevent-form">
    <label for="event">Event:</label>
    <select id="event" name="event">
      {% for event in events %}
    <option value="{{ event.id }}">{{ event.title }}</option>
      {% endfor %}
    </select>
    <br>
    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea>
    <br>
    <button type="submit" class="button">Create</button>
  </form>
{% endblock %}


