{% extends "base.html" %}

{% block content %}
  <h1>Events Planner!</h1>
  <h2>Upcoming Events:</h2>
  <div class="events-container">
    {% for event in events %}
      <div class="event-box">
        <h3>{{ event.title }}</h3>
        <p><strong>Date:</strong> {{ event.date }}</p>
        <p><strong>Start Time:</strong> {{ event.start_time }}</p>
        <p><strong>End Time:</strong> {{ event.end_time }}</p>
        <p><strong>Location:</strong> {{ event.location }}</p>
        <p><strong>Description:</strong> {{ event.description }}</p>
        <h4>Tasks:</h4>
        <ul>
          {% for task in tasks_for_events[event.id] %}
            <li>{{ task.description }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% endblock %}




